* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 150px;
}

.btn {
    font-size: 24px;
    height: 100px;
    width: 480px;
    background-color: gray;
    color: white;
}

.gridContainer{
    display: flex;
    justify-content: center;
    background-color: black;
    
    

}

.parentSquares {
    

}
.gridSquare {
    flex: 1;
    background-color: white;
    
  
    max-height: 100px;
    max-width: 100px;

}